<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347265873892-houp0kps1bc6iuadndju4vfnr8cnloie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347265873892-houp0kps1bc6iuadndju4vfnr8cnloie</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0KCIsxwAS9vJG63Zj3z9F18ZINVfZEo</string>
	<key>GCM_SENDER_ID</key>
	<string>347265873892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasnewlands.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twittercloneapp-ee12f</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneapp-ee12f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347265873892:ios:fb7ec90897e066f4d479f1</string>
</dict>
</plist>